-42,4 +42,11 @@ hr {
    .rodapé__titulo {
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px) {
    .lista-rodapé {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
}

